h1 {
	font-size: 32px;
	text-align: center;
}
#container {
	max-width: 900px;
	margin: 0 auto;
}
.light, #share {
	color: #888;
	font-size: 14px;
	line-height: 1.6em;
	max-width: 900px;
	margin: 6px auto;
	padding-left: 54px;
	padding-right: 54px;
}
#share {
	float: right;
}
span.befor {
	width: 1.5em;
	display: inline-block;
}
.at-icon-wrapper {
	display: inline-block;
	line-height: 16px; 
	height: 16px; 
	width: 16px;
}
span.at-icon-wrapper {
	cursor: pointer;
	position: relative;
}
.at-icon {
	fill: #fff;
}
div.dropdownBox {
	display: none;
	position: absolute;
	left: -70px;
	top: -162px;
	background-color: #fff;
	border: 1px solid #e5e9ef;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
	border-radius: 2px;
	padding: 14px 16px;
}
span.at-icon-wrapper:hover .dropdownBox {
	display: block;
}
div.dropdownBox>div {
	text-align: center;
	margin-bottom: 5px;
}
@media (max-width:767px) {
	h1 {
		font-size: 22px;
	}
	#share {
		display: none;
	}
}